section.comedy#comedy
  hr
  h2.another-font comedy
  .container
    .row
      .col-md-4
        button(type="button" class="btn btn-lg butonik") Rough Night
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QPGF0Lt4RU8" frameborder="1" allowfullscreen></iframe>
        
      .col-md-4
        button(type="button" class="btn btn-lg butonik") The Big Sick
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jcD0Daqc3Yw" frameborder="1" allowfullscreen></iframe>
      .col-md-4
        button(type="button" class="btn btn-lg butonik") Baby Driver
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D9YZw_X5UzQ" frameborder="0" allowfullscreen></iframe>
