section.contact#contact
  hr
  h2.another-font contact
  .container
    .row
      .col-md-3.col-md-offset-1.col-xs-12
        ul
          li
            a(href="https://twitter.com/_cavabonga" target="_blank")
              button(type="button" class="btn btn-lg twit")
                i.fa.fa-twitter
                |  twitter
                  
          li
            a(href="https://github.com/cavabonga" target="_blank")
              button(type="button" class="btn btn-lg git")
                i.fa.fa-github
                |  github
  
      .col-md-8.col-xs-12
        .row
          .col-md-6.form-group
            input(class="form-control" type="text" id="name" placeholder="Name")
          .col-md-6.form-group
            input(class="form-control" type="text" id="email" placeholder="E-mail")
          .col-md-12.form-group
            textarea(class="form-control" type="text" id="comment" placeholder="Comment" rows="6")
            button(type="button" class="btn btn-default btn-success") Send
            
            
    
