section.drama#drama
  hr
  .container
    .row
      .col-md-3.col-md-offset-5
        h2.another-font dramatic
  .container
    .row
      .col-md-4.col-xs-12
        .panel.panel-default
          .panel-heading
            h3.panel-title Miss Sloane
            br
          .panel-content
            <iframe width="291" height="315" src="https://www.youtube.com/embed/AMUkfmUu44k" frameborder="0" allowfullscreen></iframe>
          .panel-footer
            p 2nd June 2017
          
      .col-md-4.col-xs-12
        .panel.panel-default
          .panel-heading
            h3.panel-title King Arthur
            br
          .panel-content
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SX9y5JPuRHY" frameborder="0" allowfullscreen></iframe>
          .panel-footer
            p 16th June 2017
      
      .col-md-4.col-xs-12
        .panel.panel-default
          .panel-heading
            h3.panel-title Dunkirk
            br
          .panel-content
            <iframe width="560" height="315" src="https://www.youtube.com/embed/F-eMt3SrfFU" frameborder="0" allowfullscreen></iframe>
          .panel-footer
            p 21st July 2017
