section.header
  .container
    .row
      .col-md-2.col-md-offset-2.col-xs-3
        h1.trailer.another-font trailer
      .col-md-3.pic.col-xs-6
        img(src="http://i.imgur.com/blYaMWu.png" class="img-responsive" alt="logo" id="logo")
      .col-md-2.col-xs-3
        h1.movies.another-font movies
