section.thriller#thriller
  hr
  h2.another-font thriller
  .container
    .row
      .col-md-12.col-xs-12
        .panelki
          ul.tabs-thrill
            li(rel="panel5" class="active") Unlocked
            li(rel="panel6") John Wick Chapter Two
            li(rel="panel7") Life
            li(rel="panel8") Split
            
          .panel-thrill(class="active" id="panel5")
            <iframe width="560" height="515" src="https://www.youtube.com/embed/CCqISHuTgHE" frameborder="1" allowfullscreen></iframe>
            
          .panel-thrill(id="panel6")
            <iframe width="560" height="515" src="https://www.youtube.com/embed/XGk2EfbD_Ps" frameborder="1" allowfullscreen></iframe>
            
          .panel-thrill(id="panel7")
            <iframe width="560" height="515" src="https://www.youtube.com/embed/dgOGqWHtjP0" frameborder="0" allowfullscreen></iframe>
              
          .panel-thrill(id="panel8")
            <iframe width="560" height="515" src="https://www.youtube.com/embed/84TouqfIsiI" frameborder="0" allowfullscreen></iframe>
    
